* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

LICENSE export-ignore
/.github/copilot-instructions.md export-ignore
/.github/workflows/copilot-setup-steps.yml export-ignore
/.github/agents export-ignore
composer.lock export-ignore
/docs export-ignore
